:root {
  --bs-primary: #a5c926;
  --bs-primary-rgb: 165, 201, 38;
  --mustard-yellow: #ffc12c;
  --dark-pink: #fb416b;
}

/* utility classes */
.fs-tiny {
  font-size: 11px;
}
.fs-12px {
  font-size: 12px;
}
.hover-scale:hover {
  scale: 1.08;
  transition: scale, 500ms;
}
.bg-dark-pink {
  background-color: var(--dark-pink);
}
.bg-mustard-yellow {
  background-color: var(--mustard-yellow);
}
.pb-2px {
  padding-bottom: 2px;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h2,
h2,
h5,
h6 {
  font-family: "Varela Round", sans-serif;
}
/* .container-fluid {
  max-width: 1200px;
} */

.cart-count {
  display: inline-block;
  min-width: 25px;
  height: 25px;
  text-align: center;
}

/* hero section */
.section--hero {
  height: 80vh;
  background: url("../images/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-img-translate {
  translate: 0 -40px;
}
.home-section.animate__zoomIn {
  animation-play-state: running;
}
