:root {
  --bs-primary: #a5c926;
  --bs-primary-rgb: 165, 201, 38;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h2,
h2,
h5,
h6 {
  font-family: "Varela Round", sans-serif;
}

.fs-tiny {
  font-size: 11px;
}
.cart-count {
  display: inline-block;
  min-width: 25px;
  height: 25px;
  text-align: center;
}
